<%- include('../../shared/includes/head', { pageTitle: 'Failure!' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order placement failed</h1>
    <p>Please get in contact with our support for more details!</p>
  </main>
<%- include('../../shared/includes/footer') %>